/* Header*/
.col-xs-12{
	display: inline-block;
}
.navbar{
	margin-top: 100;
	margin-bottom: 0;
	/*Fijado*/
	
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	
}
.navbar ul li a{
	transition: all 0.2s linear;
	border-radius: 5px;
}
.jumbo-nav{
	margin: 0;
	background:#428BCA;
	background-image: url("../images/back.jpg");
	color: #fff;
	padding: 20px 0 10px 0;
	font-size: 10px;
}
.color{
	background:#428BCA;
}
.cont{
	display: flex;
}
/* Body */
body{
	background-color: #E8E8EC;
}
/* Niveles */
.caption{
	text-align: center;
}
.thumbnail{
	align-items: center;
	background-color: #050D42;
	color: #fff;
}
.thumbnail h3{
	color: #fff;
}
.thumbnail p{
	color: #D2D3DC;
}
.thumbnail a{
	color: #00C5FF;
}

/* Tables */
.thead-dark, .thead-dark tr th{
	background: black;
	color: white;
	opacity: 0.8;
}
div .showing{
	max-height: 400px;
}
div .graf{
	height: 500px;
	max-width: 500px;
}

/* Footer */
footer{
	background: #ccc;
	vertical-align: center;
	text-align: center;
	padding-top: 10px;
	height: 40px;
	/* Alineamiento */
	left:0;
	bottom: 0;
	width: 100%;
}