/* Header*/
html{
	min-height: 100%;
	position: relative;
}

.Página{
	min-height: 536px;
}
.col-xs-12{
	display: inline-block;
}
.navbar{
	margin-top: 100;
	margin-bottom: 0;
	/*Fijado*/
	
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	
}
.navbar ul li a{
	transition: all 0.2s linear;
	border-radius: 5px;
}
.jumbo-nav{
	margin: 0;
	background:#66A5AD;
	/*
	background:#428BCA;
	background: linear-gradient(#01041A, #0B3861, #2E64FE);
	*/
	background-image: url("../images/back.jpg");
	color: #fff;
	padding: 20px 0 10px 0;
	font-size: 10px;
}
.color{
	background:#428BCA;
}
.cont{
	display: flex;
}
/* Body */
body{
	background-color: #E8E8EC;
	margin: 0;
	margin-bottom: 40px;
}
/* NavBar Personalizado */
.extra {
	background: #18299A;;
	margin-bottom:10px;
}
.extra div{
	height: 46px;
}
.extra ul {
	list-style: none;
	padding: 0;
}
.extra ul li {
	float: left;
}
.extra ul li a {
	display: block;
	padding: 13px;
	color:#fff;
	text-decoration: none;
}
.mouseHover:hover {
	cursor: pointer;
}
/* Niveles */
.caption{
	text-align: center;
}
.thumbnail{
	align-items: center;
	background-color: #050D42;
	color: #fff;
}
.thumbnail h3, .thumbnail h4{
	color: #fff;
}
.thumbnail p{
	color: #D2D3DC;
}
.thumbnail a{
	color: #00C5FF;
}

/* Tables */
.thead-dark, .thead-dark tr th{
	background: black;
	color: white;
	opacity: 0.8;
}
.tbody-table{
	/*text-align: center;*/
}
.formulario, .formulario tr th{
	background: #31AEE8;
	color: white;
	opacity: 0.8;
}
div .showing{
	max-height: 400px;
}
div .graf{
	height: 500px;
	max-width: 500px;
}
/* Nav Bar 2 */
.barra li a{
	color: white;
}
.barra li a:hover{
    color: black;
}
.barra-dropdown{
  	background-color: #050D42;
}
.bar .navbar-nav .open a{
    color: black;
}
.bar .navbar-nav .open .dropdown-menu a {
    color: white;
}
.bar .navbar-nav .open .dropdown-menu a:hover{
    color: black;
}
/* Separaciones */
hr {

    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0; 
}
/* Footer */
footer{
	background: #ccc;
	vertical-align: center;
	text-align: center;
	padding-top: 10px;
	height: 40px;
	/* Alineamiento */
	left:0;
	bottom: 0;
	width: 100%;
	position: absolute;
}
.inverse-dropdown{
  background-color: #222;
}
.inverse-dropdown li a{
	color: #9d9d9d;
}
@media (max-width: 991px) {
	.colapsa {
		display: none;
	}
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}
@media print {
.impre {display:none}
}